body {
    background-size: 100% auto;
    background: url(../resources/bumba.jpg) no-repeat;
}

.search-bar{
    margin: 20px;
    text-align:center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10vh;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    border-radius: 4px;
}

.list-group{
    margin-top: 10vh;
}

.list-group-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}